{{#each sortedAnswers as |answer|}}
  <div class="voting">
    <button {{action "vote" 1 answer}}>&#8679;</button>
    <p>{{answer.votes}}</p>
    <button {{action "vote" -1 answer}}>&#8681;</button>
  </div>
  <p>{{time answer.timestamp}}</p>
  <h3>{{answer.author}} says:</h3>
  <p>{{answer.answerText}}</p>
  {{edit-answer answer=answer}}
  <hr>
{{/each}}
