{{#if editing}}
<hr>
<h4>Edit</h4>
<form>
  <label for="answer">Answer:</label>
  <br>
  {{textarea value=answer.answerText id="edit-answer"}}
  <br>
  <button {{action "update" answer}}>Save</button>
  <button {{action "destroy" answer}}>Delete</button>
</form>
{{else}}
  <button {{action "beginEdit"}}>Edit</button>
{{/if}}
