<h3>Ask a question:</h3>
<form>
  <label for="username">Username:</label>
  <br>
  {{input value=username id="username"}}
  <br>
  <label for="question">Question:</label>
  <br>
  {{input value=question id="question"}}
  <br>
  <label>Category:</label>
  <br>
  <br>
  <div class="category-choice">
    <label>Arts &amp; Media</label>
    {{radio-button value="Arts & Media" checked=category}}
    <label>Health</label>
    {{radio-button value="Health" checked=category}}
    <label>Science &amp; Mathematics</label>
    {{radio-button value="Science & Mathematics" checked=category}}
    <br>
    <label>Politics</label>
    {{radio-button value="Politics" checked=category}}
    <label>Spirituality &amp; Religion</label>
    {{radio-button value="Spirituality & Religion" checked=category}}
  </div>
  <br>
  <label for="details">Additional Details:</label>
  <br>
  {{textarea value=details id="details"}}
  <br>
  <button {{action "save"}}>Submit</button>
</form>
<hr>
